# POG output
/vendor/POG/config.json
/vendor/POG/PlanetDataFiles/
/vendor/POG/PlanetGeneratorDefinitions.sbc
/vendor/POG/generator.log

# Assembled output
/Upload/
/mod.vdf
/description.bb

# mise
/mise.local.toml

# Vim
*.swp
